<body class="bg-success">
  

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-0 mb-lg-10">
        <li class="nav-item">
          <small routerLink="" class="nav-link active" >Home</small>
        </li>
        <li *ngIf="tespit==true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" name="navbarDropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown" 
            aria-expanded="true">
            Admin Menu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           
            <li><small routerLink="datamanager" class="nav-link active" aria-current="page">DataManager</small></li>
            <li> <small routerLink="cars/add" class="nav-link active">carAdd</small></li>
            <li> <small routerLink="colors/add" class="nav-link active">ColorAdd</small></li>
            <li> <small routerLink="brands/add" class="nav-link active">BrandAdd</small></li>
            <li> <small routerLink="users" class="nav-link active">AddUser</small></li>
            <li><hr class="dropdown-divider"></li>
            <li> <small routerLink="login" class="nav-link">Login</small></li>
            <li><hr class="dropdown-divider"></li>
            <li (click)="logout()"> <small routerLink="" class="nav-link">Logout</small></li>
          </ul>
        </li>
        <li>
          <small routerLink="login" class="nav-link active">Login</small>
        </li>
      
        <li class="nav-item">
          <div class="hover-overlay-container">
            <img class="overlay-image" width="100" src="https://www.motortrend.com/uploads/sites/5/2020/01/Lamborghini-Huracan-Evo-RWD-front-three-quarters.jpg">
            <div class="overlay-btn-container">
              <button routerLink="cars"
                class="btn btn-outline-secondary">Rent</button>
            </div>
          </div>
        </li>
        <li class></li>

        <li class="nav-item">
          <img  src="https://scontent.fesb3-2.fna.fbcdn.net/v/t1.6435-9/171605443_4534605393233037_3374684536127587091_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=730e14&_nc_ohc=PfznQBznLaAAX_iw2CJ&_nc_ht=scontent.fesb3-2.fna&oh=5212ad325c7868e4a2ffec4cb56c1ee5&oe=60968D2A" 
          width="650" height="50"  alt="">
        </li>
      </ul>
      <ul class="navbar-toggler-padding-y">
      <app-users></app-users>
    </ul>
    </div>

  </div>
</nav>
