<div class="container" name="registration-form">
  <div class="registration-page-wrapper">
    <form
      class="registration-form"
      autocomplete="off"
      *ngIf="registrationForm"
      [formGroup]="registrationForm"
      (ngSubmit)="submitRegistrationForm()"
    >
      <h1>Register:</h1>
      <app-input
        [parentForm]="registrationForm"
        label="Name : "
        fieldName="name"
        formControlName="name"
      >
      </app-input>

      <app-input
        [parentForm]="registrationForm"
        fieldName="email"
        label="Email : "
        formControlName="email"
      >
      </app-input>
      <app-password-imput
      [parentForm]="registrationForm"
        label="Password : "
        fieldName="password"
        formControlName="password">

      </app-password-imput> 
      

      <!-- <div class="form-row">
        <label class="form-label" for="email">
          <span class="is-required"> Email </span>
          <span
            class="field-error"
            *ngIf="emailField?.hasError('required') && emailField?.dirty"
          >
            This is a required field.
          </span>
          
        </label>
        <input
          class="form-element"
          type="text"
          name="email"
          id="email"
          [ngClass]="{
            'has-error': emailField?.invalid && emailField?.dirty
          }"
          formControlName="email"
        />
      </div> -->

      

      <div class="form-row">
        <label class="form-label" for="favouriteHexCode">
          <span> Favourite hex colour </span>
        </label>

        <div class="input-with-button-wrapper">
          <input
            class="form-element"
            type="text"
            name="favouriteHexCode"
            id="favouriteHexCode"
            maxlength="7"
            formControlName="favouriteHexCode"
          />

          <div
            class="hex-colour-display"
            [ngStyle]="{
              background:
                favouriteHexCodeValue !== ''
                  ? favouriteHexCodeValue
                  : 'transparent'
            }"
          ></div>
        </div>
      </div>

      <div class="button-row">
        <button
          class="button-success"
          type="submit"
          [disabled]="registrationForm?.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
