.collapse navbar-collapse{
    background-color: rgb(255, 196, 0)!important;
  }
  
  .container-fluid{
    background-color: rgb(255, 196, 0)!important;
  }

  
  
  .form-control{
    background-color: rgb(255, 196, 0)!important;
  }
  .page-link{
    background-color: rgb(255, 230, 0)!important;
  }